/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(231, 231, 231);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #333;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}
.nav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.nav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  text-align: center;
  background-image: url(img/mv.jpg);
  background-size: cover;
}

.mv-container {
  padding: 0 40px;
}

.mv-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 5px;
  letter-spacing: .1em;
  color: #fff;
}
.mv-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: .08em;
}

.mv-text {
  font-size: 16px;
  line-height: 1.8;
}

/*--------------------------------
 concept
---------------------------------*/
.concept{
  width: 60%;
  font-size: 20px;
  margin: 0 auto;
}

.concept-list {
  flex-wrap: wrap;
  margin-bottom: -40px;
  margin: 0 auto;
}

.concept-item {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #333;
  display: flex;
}


/*--------------------------------
 menu
---------------------------------*/
.menu{
  width: 1400;
  margin: 0 auto;
}

.menu-header{
  height: 80px;
  margin-top: 50px;
}
.menu-section{
  padding-bottom: 50px;
}


.menu_new_price{
  font-size: 35px;
}

.new-price-example{
  margin-top: 50px;
  border: 3px solid black;
  font-size: 20px;
  padding: 20px;
}
.new-price-example-item1{
  padding-bottom: 20px;
}

.menu-list{
  width: 100%;
  margin: 0 auto;  
  display: flex;
  flex-wrap: wrap;
}
.menu-item{
  width:50%;
  text-align: center;
  margin-bottom: 100px;
  padding: 30px;
}
.menu-box{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.menu-text{
  width: 70%;
  font-size: 18px;
  line-height: 60px;
}
.menu-title{
  font-size: 22px;
}
.title-container{
  font-size: 22px;
  margin: 0 auto;
  border-bottom: solid 2px;
}
.color-title-container{
  border-bottom: solid 2px;
  height: 110px;
}

.menu-color{
  font-size: 25px;
  
}

.menu-price{
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}
.menu_new_price{
  color: rgb(255, 102, 47);;
}

.menu_new{
  width: 70%;
  text-align: center;
  margin:0 auto;
  margin-bottom: 100px;
  padding: 30px;
}


.menu-option{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center;
}
.menu-1item{
  display: flex;
  margin: 0 auto;
  text-align: center;
}

/*--------------------------------
 menu
---------------------------------*/


/*--------------------------------
 reserve
---------------------------------*/
.reserve h2{
  padding-bottom: 20px;
}

.reserve{
  text-align: center;
}

.reserve-content{
  font-size: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.line-button{
  background-color: #06c755;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  line-height: 50px;
  border-radius: 3%
}
.line-button a{
  color: black;
}
/*--------------------------------
 reserve
---------------------------------*/


/*--------------------------------
 access
---------------------------------*/
.access-content{
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.access-map{
  width: 60%;
  height: 600px;
}
.access-list{
  width: 40%;
  padding: 0 40px;
  font-size: 22px;
}
.adress{
  padding-bottom: 30px;
}
.access-polite{
  font-size: 27px;
}
.access-number{
  padding-bottom: 10px;
}
/*--------------------------------
 access
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}


@media screen and (max-width: 1300px){
  .access-content{
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .access-map{
    width: 100%;
    height: 700px;
  }
  .access-list{
    width: 100%;
    padding: 40px;
    font-size: 20px;
    margin: 0 auto;
  }
  .adress{
    padding-bottom: 30px;
  }
}


/*media 
----------------------------------------------------*/
@media screen and (max-width: 800px){
  .menu{
    width: 85%;
  }
  .menu-text{
    font-size: 15px;
    line-height: 60px;
  }
  .menu-title{
    font-size: 25px;
    margin: 0 auto;
  }
  .menu-list{
    width: 100%;
    margin: 0 auto;  
    display: block;
    padding-top: 20px;
  }
  .menu-item{
    width:100%;
    text-align: center;
    padding: 0;
  }

  .access-map{
    height: 500px;
  }
  
  .menu-price{
    font-size: 12px;
    line-height: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header {
    width: 100%;
    height: 57px;
  }

  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 75vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }
  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }
  /*menu*/
  .menu-list{
    width: 100%;
    margin: 0 auto;  
    display: block;
    padding-top: 20px;
  }
  .menu-title{
    font-size: 18px;
    margin: 0 auto;
  }
  .menu-item{
    width:100%;
    text-align: center;
    padding: 0;
  }
  .menu-color{
    font-size: 20px;
  }
  .color-title-container{
    height: 90px;
  }
  .menu-price{
    font-size: 15px;
  }
  .menu-text{
    width: 70%;
    font-size: 15px;
    line-height: 60px;
  }
  .menu_new_price{
    font-size: 18px;
  }
  .menu_new{
    width: 100%;
    padding: 0;
  }

  /* Works */
  .concept{
    width: 90%;
    font-size: 15px;
  }

  /* access */
  .access-content{
    display: block;
  }
  .access-map{
    width: 100%;
    margin-bottom: 20px;
  }
  .access-list{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
  }
  .adress{
    padding-bottom: 15px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .access-map{
    height: 300px;
  }
  .access-polite{
    font-size: 20px;
  }
}
